<!DOCTYPE html>
<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="joinForm input-form">
    <h2>로그인</h2>
    <form action="/member/login" method="post">
        <input type="text" name="memberEmail" placeholder="이메일"><br>
        <input type="password" name="memberPassword" placeholder="비빌번호"><br>
        <input type="submit" value="로그인">
    </form>
</div>
</body>
</html>