<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>상품목록</h2>
  <form action="/caffe/cartProd" method="post">
      <ul>
      <li>만델링원두<input type="text" name="caffeMandeling" value="만델링원두"></li>
      <li>만델링원두<input type="text" name="caffeRobusta" value="로부스타원두"></li>
      <li>만델링원두<input type="text" name="caffeAntigua" value="안티구아원두"></li>
      <li>만델링원두<input type="text" name="caffeStar" value="스타원두"></li>
      </ul>
      <a href="main.html"><button type="text">메인으로</button></a>
      <button type="submit">장바구니에담기</button>
  </form>
</body>
</html>