<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>save.html</h2>
    <form action="/coffee/save" method="post" enctype="multipart/form-data">
        <input type="text" name="coffeePrice" placeholder="판매가"><br>
        <input type="text" name="coffeeMileage" placeholder="마일리지"><br>
        <input type="text" name="coffeeCompany" placeholder="제조사"><br>
        <input type="text" name="coffeeOrigin" placeholder="원산지"><br>
        <input type="text" name="coffeeVolume" placeholder="용량"><br>
        <textarea name="coffeeContents" placeholder="상품설명"></textarea>
        <input type="file" name="coffeeFile" placeholder="첨부파일"><br>
        <input type="submit" value="상품등록">
    </form>
</body>
</html>