<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>게시글</h2>
  <form action="/board/save" method="post" enctype="multipart/form-data">
      <input type="text" name="boardTitle" placeholder="제목"><br>
      <input type="text" name="boardWriter" placeholder="작성자"><br>
      <textarea name="boardContents" placeholder="내용"></textarea><br>
      첨부파일 : <input type="file" name="boardFile"><br>
      <input type="submit" value="작성">
  </form>
</body>
</html>
</html>