<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h2>list.html</h2>
    <table>
        <tr>
            <th>관리자 아이디</th>
            <th>커피</th>
            <th>상품</th>
        </tr>
        <tr th:each="d:${all}">
            <td th:text="${d.id}" hidden></td>
            <td th:text="${d.caffe}"></td>
            <td th:text="${d.goods}"></td>
        </tr>
        <a href="/menu/detail/">상품조회</a>
    </table>
</body>
</html>